lambda-java/target/*
lambda-java/output.json
node_modules/*
lambda-node-simple/*/node_modules/*
lambda-node-simple/*/package-lock.json
lambda-node-simple/package-lock.json
lambda-python-containerized/response.json
lambda-python-containerized/lambda-package.zip
